{% load static %}
<!--    Footer-->
<footer class="container-fluid bg-dark mt-3">
  <div class="row text-white py-4">
      <div class="col-md-4">
          <img src="{% static 'images/icon.png' %}" alt="UNEDY" width="150" height="auto" class="float-left mr-3">
          <!-- <h4 class="lead">UNEDY</h4> -->
          <!-- <footer class="blockquote-footer mt-2">Desarrollado por: <cite title="Source Title">Ing. Rafael Enrique Báez Guevara</cite></footer> -->
      </div>
      <div class="col-md-4">
          <h4 class="lead"><a href="#">Gestor de taller UNE</a></h4>
          <p>"UNEDY" es un utilitario gestionar los procesos de recepción y entrega en un taller de reparaciones.
          </p>
      </div>
      <div class="col-md-4">
          <h4 class="lead">Potenciado Por:</h4>
          <div>
          <a href="https://www.djangoproject.com/"><img src="{% static 'images/Django_logo.png' %}" alt="" width="120" height="auto" class="float-left mr-3"></a>
          <a href="https://getbootstrap.com/"><img src="{% static 'images/Boostrap_logo.svg' %}" alt="" width="80" height="auto" class="float-left mr-3"></a>
          <a href="https://fontawesome.com"><i class="fab fa-font-awesome fa-5x float-left align-middle mr-3"></i></a>
          <a href="https://echarts.apache.org"><img src="{% static 'images/echarts.png' %}" alt="" width="80" height="auto" class="float-left mr-3"></a>
          </div>
      </div>
  </div>
</footer>
<!--    Fin del Footer-->